.gst-label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #374151;
  margin-bottom: 0.3rem;
}

.gst-input-field {
  position: relative;
  margin-bottom: 1.9rem;
}

.gst-search-icon {
  position: absolute;
  right: 10px;
  top: 20%;
  cursor: pointer;
}
